[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "plan"]
	path = plan
	url = https://github.com/dankelley/plan
	shallow = true
	registered = true
[submodule "oce"]
	path = oce
	url = https://github.com/dankelley/oce
	shallow = true
	registered = true
[submodule "ocedata"]
	path = ocedata
	url = https://github.com/dankelley/ocedata
	shallow = true
	registered = true
